/* FIRST PAGE */

.first-page h1 {
    text-align: center;
}

.first-page .logo-img {
    width: 7vw;
    opacity: 1;
  }

.first-page .registration {
    font-size: 1rem;
}

.first-page table th {
    color: black;
    background-color: #5B3FAA;
}

.first-column {
    width: 28%;
}

/* FOOTER */
.footer-span {
    color: var(--accent);
}

footer a {
    text-decoration: none;
}

/* SOLID-UI-COMPONENTS */


.solid-uic-app > DIV > SPAN {color:white;}
.solid-uic-app div {
  background-color: #212121 !important;
  color: white !important;
}

/* ACCORDION ITEM */

.accordion > DIV > DIV {
  border-color: #FFB300 !important;
}

.accordion button {
  color: white !important;
  background-color: #212121 !important; 
}

.accordion button:hover { 
  color: black !important;
  background-color: #FFB300 !important;
}

nav {
  font-size: var(--base-fontsize) !important;
}
