/* PAGEs */

.third-page h4, .third-page h1, .second-page h1, .second-page h4, .first-page h1 {
    text-align: center;
}

.first-page h2 {
    display: block !important;
    text-align: center;
}

.third-page .logo-img, .second-page .logo-img, .first-page .logo-img {
    width: 7vw;
    opacity: 1;
  }

.first-page .registration {
    font-size: 1rem;
}

.first-page table th {
    color: black;
    background-color: #5B3FAA;
}

.first-column {
    width: 28%;
}

.second-page h3 {
  color: var(--text) !important;
}

.second-page .formFieldName {
  width: 94%;
}

.second-page .choiceBox-label {
  width: 14em !important;
}

.second-page div {
  border-color: var(--accent) !important; 
}

.second-page .choiceBox {
  margin-right: 2em;
  margin-bottom: 2em;
}
.second-page .formFieldValue input {
  min-width: 0;
}

.second-page .formFieldValue input, .second-page .formFieldValue select, .second-page .formFieldValue select option {
  width: 20em !important;
  border-color: var(--accent) !important;
  background-color: var(--bg) !important;
}

.second-page .formFieldValue select { 
  margin-left: 0em !important;
  width: 100% !important;
}

.second-page .formFieldName a {
  color: var(--accent) !important;
}

/* LOGIN */
.SolidSignInOrSignUpBox {
  display: grid !important;
}

.SolidSignInOrSignUpBox input:nth-child(1) {

}
.SolidSignInOrSignUpBox input:nth-child(2) {
}

.SolidSignInOrSignUpBox input {
  
}

#webId, #loginBanner {
  text-align: center;
}

#loginBanner input {
  margin: auto auto 0.5em auto !important;
  background-color: var(--accent) !important;
  width: 30%;
}

/* FOOTER */
.footer-span {
    color: var(--accent);
}

footer a {
    text-decoration: none;
}

/* SOLID-UI-COMPONENTS */


.solid-uic-app > DIV > SPAN {color:white;}
.solid-uic-app div {
  background-color: #212121 !important;
  color: white !important;
}

/* ACCORDION ITEM */

.accordion > DIV > DIV {
  border-color: #FFB300 !important;
}

.first-page .accordion button {
  color: white !important;
  background-color: #212121 !important; 
}

.first-page .accordion button:focus, 
.first-page .accordion button:active,
.first-page .accordion button:hover,
.first-page .accordion button:hover:active {
  color: black !important;
  background-color: #FFB300 !important;
}

.first-page .selected {
  color: black !important;
  background-color: #FFB300 !important;
}

nav {
  font-size: var(--base-fontsize) !important;
}

.adminDiv {
  text-align: center;
}

.adminDivButton {
  text-align: center;
}

.adminDivButton button {
  margin: 1em;
}

.snapshotTable {
  width: fit-content;
  text-align: center;
  margin-left: -11em;
}
.snapshotTable ul {
  list-style-type: decimal;
}

.snapshotLi {
  width: max-content;
}

.snapshotLiDiv, .createNewDiv {
  display: inline-flex;
  align-items: baseline;
}

.snapshotLiButton {
  margin: 1em;
}

.spanshotMessage {
  color: var(--accent) !important;
  vertical-align: -webkit-baseline-middle;
}

.spanshotCreateMessage {
  color: var(--accent) !important;
  vertical-align: -webkit-baseline-middle;
  padding-left: 2em;
}

.timstampDiv {
  min-width: fit-content;
}

.nameDiv {
  padding-left: 2em;
  min-width: 22em;
}